<div class="register-container">
  <div class="col-md-12">
    <h3 class="register-header">Register as a New User</h3>
    <hr>
    <br>
  </div>
  <div class="signup-form">

    <form class="form-horizontal">


      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="firstname">First Name</label>
        <div class="col-md-5">
          <input id="firstname" name="firstname" ng-model="register.player.firstname" type="text" placeholder="First Name" class="form-control input-md">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="lastname">Last Name</label>
        <div class="col-md-5">
          <input id="lastname" name="lastname" ng-model="register.player.lastname" type="text" placeholder="Last Name" class="form-control input-md">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="bday">D.O.B.</label>
        <div class="col-md-5">
          <input id="bday" name="bday" ng-model="register.player.bday" type="text" placeholder="Date of Birth" class="form-control input-md">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="jerseynumber">Jersey Number</label>
        <div class="col-md-5">
          <input id="jerseynumber" name="jerseynumber" ng-model="register.player.jerseynumber" type="text" placeholder="Jersey Number" class="form-control input-md">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="teamname">Team Name</label>
        <div class="col-md-5">
          <input id="teamname" name="teamname" ng-model="register.player.teamname" type="text" placeholder="Team Name" class="form-control input-md">

        </div>
      </div>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="dominanthand">Dominant Hand</label>
        <div class="col-md-5">
          <input id="dominanthand" name="dominanthand" ng-model="register.player.dominanthand" type="text" placeholder="Dominant Hand" class="form-control input-md">

        </div>
      </div>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="goals">Goals</label>
        <div class="col-md-5">
          <input id="goals" name="goals" ng-model="register.player.goals" type="text" placeholder="Goals" class="form-control input-md">

        </div>
      </div>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="assists">Assists</label>
        <div class="col-md-5">
          <input id="assists" name="assists" ng-model="register.player.assists" type="text" placeholder="Assists" class="form-control input-md">

        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="register"></label>
        <div class="col-md-5">
          <button ng-click="register.submit()" id="register" name="register" class="btn btn-success btn-block">Register!</button>
        </div>
      </div>

    </form>
  </div>

</div>



